.hero {
    grid-area: hero;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://imgur.com/a/75CmGym");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero__container {
    display: block;
    text-align: center;
}
.hero__container h1{
    color: $color-optional;
    font-size: 50px;
    padding-top: 15%;
}
.hero__container span {
    color: $color-links;
}
.hero__container--button {
    text-align: center;
    padding-top: 30px;
}
.hero__container--button a {
    color: $color-optional;
    font-size: 18px;
}
.hero__container--button a:hover {
    color: $color-links;
}

@media (max-width: 767px) {
    .hero__container h1{
        color: $color-optional;
        font-size: 40px;
        padding-top: 50%;
    }
}